* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

.img-container {
  display: flex;
  justify-content: center;
}

.logo {
  color: azure;
  width: 400px;
  padding-top: 20px;
}

nav {
  background-color: black;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 17px;
  position: relative;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

ul li {
  display: flex;
  align-content: center;

  border-radius: 10px;
  margin-right: 10px;
}

nav a {
  height: 100%;
  padding: 0 20px;

  text-decoration: none;
  display: flex;
  text-align: center;
  color: white;
}

nav a:hover {
  color: #e5cb6b;
}

input {
  background-color: #e5cb6b;
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 15px;
}

input::placeholder {
  padding-left: 10px;
}

.profil {
  position: absolute;
  top: 25px;
  right: 40px;
  background-color: #e6b504;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  margin: 4px 2px;
  border-radius: 50%;
  cursor: pointer;
  height: 62px;
}
