.CardsTheme {
  width: 1100px;
  height: 450px;
}

.TitleCardEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.EventAlign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.TitleCardEvent p {
  color: #e6b504;
  font-weight: 600;
  font-size: 22px;
}
