* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.header-naonight {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100%;
  align-items: center;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 17px;
  color: white;
}

.logo-naonight {
  width: 400px;
  padding-top: 20px;
}

.list-header-naonight {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 20px;

  outline: none;
  list-style: none;

  gap: 40px;
}

.link-style {
  text-decoration: none;
  color: white;
}

.link-style:hover {
  color: #ff17a6;
}
