.accueilLogo {
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoNE {
  width: auto;
  height: 450px;
  transition: height 0.5s;
}

.logoNE:hover {
  width: auto;
  height: 470px;
}

.buttonLogo {
  background: none;
  border: 0;
}

.buttonLogo:hover {
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .logoNE {
    width: auto;
    height: 300px;
    transition: height 0.5s;
  }
}

@media screen and (max-width: 550px) {
  .logoNE {
    width: auto;
    height: 200px;
    transition: height 0.5s;
  }
}
