.scroll-to-top-button {
  position: fixed;
  bottom: 3em;
  right: 3em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  background: none;
  border: none;
}

.scroll-to-top-button.show {
  opacity: 1;
}

.scroll-to-top-button .progress-circle {
  position: relative;
  width: 5.5em;
  height: 5.5em;
  border-radius: 50%;
  border: 0.25em solid transparent;
  cursor: pointer;
  transition: border-image 0.01s ease-in-out;
  overflow: hidden;
  border-color: #e6b504df;
}

.scroll-to-top-button .progress-circle:hover {
  border-color: white;
}

.scroll-to-top-button .progress-circle .arrow-up {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-135deg);
  width: 2em;
  height: 2em;
  border: solid black;
  border-width: 0 0.3em 0.3em 0;
  display: inline-block;
  border-radius: 0.2em;
}
